atom/.atom/
!atom/.atom/config.cson
autodl/
irssi/
mozilla/.mozilla/
!mozilla/.mozilla/firefox/profiles.ini
!mozilla/.mozilla/firefox/s0g43x66.default-1513995472171/chrome/
!mozilla/.mozilla/firefox/s0g43x66.default-1513995472171/user.js
neofetch/
oh-my-zsh/
oomox/
vim/.vim/plugged

*.log