autodl/
irssi/
mozilla/.mozilla/
!mozilla/.mozilla/firefox/profiles.ini
!mozilla/.mozilla/firefox/s0g43x66.default-1513995472171/chrome/
!mozilla/.mozilla/firefox/s0g43x66.default-1513995472171/user.js
oh-my-zsh/
vim/.vim/plugged

*.log