"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    fontFamily: "Noto Mono, Font Awesome 5 Free, Symbola"
    fontSize: 13
  "exception-reporting":
    userId: "0619d5d2-fc6d-4134-86c1-7208a9554615"
  welcome:
    showOnStartup: false
